<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>This is where you create a New Figure!</h1><br>
	<form method="post" action="/figures/new">

		Please Enter the Figure Name Here: <input type="text" name="figure[name]" id="figure_name"><br>
		<!--                              -->
		<label>Please choose a Title for this Figure:
		<% Title.all.each do |title| %>
			<input type="checkbox" name="figure[title_ids][]" value="<%=title.id%>" id="title_<%= title.id %>"><%= title.name %></input>
		<% end %><br>
		OR, Please Input a New Title Here:<input type="text" name="title[name]" id="new_title"><br>
		</label>
		<!--                               -->
		<label>Please Choose a Landmark to be associated with this Figure:
		<% Landmark.all.each do |landmark| %>
			<input type="checkbox" name="figure[landmark_ids][]" value="<%=landmark.id%>" id="landmark_<%= landmark.id %>"><%=landmark.name%></input>
		<% end %><br>
		OR, Please Input a New Landmark Here:<input type="text" name="landmark[name]" id="new_landmark"><br>
		</label>
		<input type="submit" value="Create New Figure">
	</form>
</body>
</html>

<!--check "landmark_#{Landmark.first.id}" -->